<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>© 2023</span>
    <a
      b-slate-link
      href="https://ylcsss.org" target="_blank"
    >
      YLCSS SECRET
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/ddiu8081/chatgpt-demo" target="_blank"
    >
      Github開源程式碼 Power by OpenAI
    </a>
  </p>
</footer>
